doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
      
        link(rel="stylesheet", href="/css/main.css")
        block styles
       

    body 
        header.main-header
                nav.main-header__nav
                    ul.main-header__item-list
                        li.main-header__item
                            a(href="/", class=(path=== "/" ? "active" : " ")) Shop
                            //- The js in this line gets reference from the Path: key from line #13 in routes/shop.js so that this link in the header will receive the active class when clicked. 
                            //- Logic: When this path equals to "/" then give it the "active" class, if not return an empty string. 
                        li.main-header__item
                            a(href="/admin/add-product", class=(path=== "/admin/add-product" ? "active" : " ")) Add Product   
                            //- The js in this line gets reference from the Path: key from line #13 in routes/admin.js so that this link in the header will receive the active class when clicked.  
                            //- Logic: When this path equals to "/admin/add-product" then give it the "active" class, if not return an empty string.   
  
        block content
